<!DOCTYPE html>
<html>
<head>
  <title>AsyncResponse</title>
  <%= stylesheet_link_tag    "async_response/application", media: "all" %>
  <%= javascript_include_tag "async_response/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
